@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
body,
html {
  //height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

header {
	background: linear-gradient(to top, rgba(255,0,50, 1), rgba(205,0,0,0.55));
	text-align: center;
	height: 8.7vw	!important;
	//padding-bottom: 10px !important;
	position: absolute;
	width:100%
}
nav {
	margin-top:8.7vw;
	height:4.5vw !important;
	line-height: 4.5vw !important;	
}
nav ul a {
	font-size: 1.8vw !important;
	padding: 0 1.2vw !important;
	height: 4.5vw !important;
	border-radius: 1vw;
}
.brand-logo {
	margin-right: 4vw !important;
	font-size:3vw !important;
}
/*.nav-wrapper u {
	overflow: hidden !important;
	width: 100% !important;
	display: inline-block;
}*/
.brand-logo {
	margin-right: 100px;
}
.heading {
	//vertical-align:middle !important;
	font-size: 4vw	!important;
	//text-align: center;
	margin: 1.5vw !important;
}
.page_footer {
	bottom: 0;
	position: absolute;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
   // height: 1000px;		//temporary
   
}

.python-brochure iframe{
	width: 24vw;
	height: 35vw;
	margin-left: 30vw;
}
@media only screen and (min-width: 550px) {
	h2 {
		font-size: 4.5vw !important;
		text-align: center !important;
		position: relative !important;
		top: 8vw !important;
	}
}
@media only screen and (max-width: 550px) {
	h2 {
		font-size: 6.5vw !important;
		text-align: center !important;
		position: relative !important;
		top: 12vw !important;
	}
} 
@media only screen and (min-width: 550px) {
	h4 {
		font-size: 2.5vw !important;
		text-align: center !important;
	}
}
@media only screen and (max-width: 550px) {
	h4 {
		font-size: 3.5vw !important;
		text-align: center !important;
	}
} 
