@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
body,
html {
  //height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
}
@media only screen and (min-width: 550px) {
header {
	background: linear-gradient(to top, rgba(255,0,50, 1), rgba(205,0,0,0.55));
	text-align: center;
	height: 8.7vw	!important;
	//padding-bottom: 10px !important;
	position: absolute;
	width:100%
}
}
@media only screen and (max-width: 550px) {
header {
	background: linear-gradient(to top, rgba(255,0,50, 1), rgba(205,0,0,0.55));
	text-align: center;
	height: 18vw	!important;
	//padding-bottom: 10px !important;
	position: absolute;
	width:100%
}
}
@media only screen and (min-width: 550px) {
nav {
	margin-top:8.7vw;
	height:4.5vw !important;
	line-height: 4.5vw !important;	
}
}
@media only screen and (max-width: 550px) {
nav {
	margin-top:18vw;
	height:9vw !important;
	line-height: 4.5vw !important;	
}
} 
nav ul a {
	font-size: 1.8vw !important;
	padding: 0 1.2vw !important;
	height: 4.5vw !important;
	border-radius: 1vw;
}
.brand-logo {
	margin-right: 4vw !important;
	font-size:3vw !important;
}
/*.nav-wrapper u {
	overflow: hidden !important;
	width: 100% !important;
	display: inline-block;
}*/
.brand-logo {
	margin-right: 100px;
}
@media only screen and (min-width: 550px) {
.heading {
	//vertical-align:middle !important;
	font-size: 4vw	!important;
	//text-align: center;
	margin: 1.5vw !important;
}
}
@media only screen and (max-width: 550px) {
.heading {
	//vertical-align:middle !important;
	font-size: 7vw	!important;
	//text-align: center;
	padding-top: 3vw !important;
	margin: 1.5vw !important;
}
}

.page_footer {
	bottom: 0;
	position: absolute;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }

main {
    flex: 1 0 auto;
    //height: 1000px;		//temporary
}
.table-of-contents a {
	//color: white !important;
	font-size: 1.5vw !important;
}

.dropdown-button {
	background-color: #ee6e73 !important;
}

/*;//rgba(69,144,61,1) !important;*/
.row-temp {
	background-color: pink !important;//or use thistle
}
.slider {
	background-color: pink;
}
@media only screen and (min-width: 550px) {
nav i.material-icons {
	font-size: 3vw !important;
	line-height: 4.9vw !important;
	float :right !important;
	text-align:right !important;
}
}
@media only screen and (max-width: 550px) {
nav i.material-icons {
	font-size: 7vw !important;
	line-height: 9vw !important;
	float :right !important;
	text-align:right !important;
}
}
/*nav ul li:hover {
	background-color: rgba(238,110,115,0.5) !important;
}*/
nav ul li a:hover {
	box-shadow: 0 0 1px 0px black;
}
a.dropdown-button:hover {
	opacity: 0.7!important;
	box-shadow: 0 0 1px 0px black;
}
.dropdown-content li, .dropdown-content li>span {
	background-color: #ee6e73 !important;
}
.dropdown-content li>a {
	color: white !important;
	padding-top : 1vw !important;
	line-height: 1.5vw !important;
}
.dropdown-content i.material-icons {
	text-align:right !important;
	margin-right: 1vw !important;
	margin-bottom: 0.5vw !important;
}
.dropdown-content li {
	min-height: 0.2vw !important;
	line-height: 0.5vw !important;
}
.circle {
	position:absolute;
	z = 2;
	top: 10vw;
	left: 2vw;
}
.side-nav {
	width: 70vw !important;
	background: #50f7e9 !important;
	text-align: center !important;

}
.btn {
	float: right !important;
	//align:left !important;
	height: 4.5vw !important;
	font-size: 2vw !important;
//	padding-top: 0.8vw !important;
	line-height: 5vw !important;
	padding-right: 2.5vw !important;
	padding-left: 2.5vw !important;
	padding-bottom: 0.8vw !important;
	text-align: center !important;
	//background-color: #ee6e73 !important;
}

.user-view a {
	color: red !important;
	font-size: 4vw !important;
	padding: 1vw !important;
	margin-bottom: 2vw !important;
	line-height: 2vw !important;
	
}
.background img{  
    width: 100% !important;

} 
.side-nav li>a {
	padding: 5vw !important;
	font-size: 6vw !important;
	color: blue !important;
	line-height: 1vw !important;	
}
i.material-icons {
    display: block;
    font-size: 5vw !important;
    height: 3vw !important;
    line-height: 5vw !important;
}
i.material-icons:hover {
	opacity: 0.5 !important;
}
@media only screen and (min-width: 550px) {
	h2 {
		font-size: 4.5vw !important;
	}
}
@media only screen and (max-width: 550px) {
	h2 {
		font-size: 6.5vw !important;
	}
} 
iframe {
	margin-left: 6vw;
	//padding: 05px;
	border: 0.45vw black solid;
	width: 50vw;
	height:25vw;
}

#content3 {
	width:90% !important;
}
@media only screen and (min-width: 550px) {
.oneline {
	display: flex !important;
	flex-direction: row !important;
}
}
@media only screen and (max-width: 550px) {
	.card1 {
		width: 90vw !important;
		margin-left: 3.5vw !important;
		float: left !important;
		font-size:2.5vw !important;
		text-align:justify;
		//display:flex !important;
		//flex-direction:column !important;
	}
	.card1 h2{
		font-size: 5.5vw;
	}
	.card2 {
		width: 90vw;
		margin-left: 4vw !important;
		float: left !important;
		font-size:2.5vw;
		text-align: justify;
		//display:flex !important;
		//flex-direction:column !important;
	}
	.card2 h2{
		font-size: 5.5vw;
	}
}
@media only screen and (min-width: 550px) {
	.card1 {
		width: 44.5vw;
		margin-left: 3.5vw !important;
		float: left !important;
		font-size:1.05vw !important;
		text-align:justify;
		//display:flex !important;
		//flex-direction:column !important;
	}
	.card1 h2{
		font-size: 2.5vw;
	}
	.card2 {
		width: 43vw;
		margin-left: 4vw !important;
		float: left !important;
		font-size:1.05vw;
		text-align: justify;
		//display:flex !important;
		//flex-direction:column !important;
	}
	.card2 h2{
		font-size: 2.5vw;
	}
}
.card1 p {
    display: block;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

.clearfix{
    clear:both
}

.page-footer {
	//display: flex !important;
	//flex-direction: row !important;
}


@media only screen and (max-width: 550px) {
    .nav-list {
        display: none;
    }
}
@media only screen and (min-width: 550px) {
	.hambutton {
    		display: none;
    	}
 }
