@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

header {
	background: linear-gradient(to top, rgba(255,0,50, 1), rgba(205,0,0,0.55));
	text-align: center;
	height: 9vw	!important;
	padding-top: 0.01vw;
}
main {
  //flex: 1 0 auto 	!important;
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: #2D3142;
  //background: linear-gradient(right left, rgba(255,0,50, 0.85), rgba(255,0,0,0.55));
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  border-radius: 0px 0.8vw 0.8vw 0px;
}
.heading {
	font-size:4vw;
	margin: 1.5vw !important;
}
.content_head {
	font-size:4vw;
}

.sidebar {
  //z-index: 3;
  height: 100%;
  width: 20%;		/*sidebar width*/
  //margin-top: 125px;
  position: absolute;
  top: 9vw;
  z-index: 1;
  right: 0;
  //background-color: #EF8354;
  //background-color: rgba(61,57,204,0.91);
  background: linear-gradient(to right, rgba(50,0,200, 0.85), rgba(0,0,50,0.55));
  border-radius: 0.7vw;
}

.bar {
  display: block;
  height: 0.4vw;
  width: 4vw;
  //background: linear-gradient(right left, rgba(255,0,50, 0.85), rgba(255,0,0,0.55));
  background-color: #0b1af3;
  margin: 0.8vw auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  //margin-right: 15px !important;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: fixed;
  right: 3vw;
  top: 0vw;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

/*.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0px;
  }*/


/* below is code for making that arrow when sidebar moves left*/ 

.button.active .top {
   -webkit-transform: rotateZ(45deg) translateY(0.8vw);
   -moz-transform: rotateZ(45deg) translateY(0.8vw);
   -ms-transform: rotateZ(45deg) translateY(0.8vw);
   -o-transform: rotateZ(45deg) translateY(0.8vw);
   transform: rotateZ(45deg) translateY(0.8vw);
   width: 1.8vw;
 }
 
 .button.active .middle {
   -webkit-transform: translateX(-1.8vw);
   -moz-transform: translateX(-1.8vw);
   -ms-transform: translateX(-1.8vw);
   -o-transform: translateX(-1.8vw);
   transform: translateX(-1.8vw);
 }
 
 .button.active .bottom {
   -webkit-transform: rotateZ(-45deg) translateY(-0.8vw);
   -moz-transform: rotateZ(-45deg) translateY(-0.8vw);
   -ms-transform: rotateZ(-45deg) translateY(-0.8vw);
   -o-transform: rotateZ(-45deg) translateY(-0.8vw);
   transform: rotateZ(-45deg) translateY(-0.8vw);
   width: 1.8vw;
 }
 









.move-to-left {
  -webkit-transform: translateX(-20%);		//sidebar width
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  transform: translateX(-20%);
}

nav {							//navigation bar
  margin-top: 9vw;
  padding: 0;
  height: 4vw			!important;
  background: rgb(129, 226, 239);
  line-height: 2.2vw !important;
}



.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 10vw;
  text-align: center;
}

.sidebar-item {
  margin: 2vw 0;
  opacity: 10;
  -webkit-transform: translateY(-1.4vw);
  -moz-transform: translateY(-1.4vw);
  -ms-transform: translateY(-1.4vw);
  -o-transform: translateY(-1.4vw);
  transform: translateY(-1.4vw);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  //color: linear-gradient(right left, rgba(255,0,50, 0.85), rgba(255,0,0,0.55));
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5vw;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 0.125vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 1.8vw;
  left: 4vw;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/*@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}
*/
@media (min-width: 100px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}



nav ul{
	//overflow-x:scroll;
	white-space:nowrap;
	display: flex;
	flex: 1;
	padding-top: 0.8vw 	!important;
	padding-bottom: 0.8vw 	!important;
	margin-right:8vw	!important;
} 
nav ul form {
	padding-top:0;
}
nav ul li{
	/*display: flex;*/
	 flex:1;
	//height: 1.8vw !important;
	text-decoration:none;	
	list-style-type: none;		/*used to remove dots in front of list elements*/
	border-radius:1vw;
	background-color:#31ff00;
	//padding-bottom: 3.5vw 	!important;
	font-weight: bold;
	margin-right: 0.5vw;
	text-align: center;	 
}
iframe {
	margin-left: 9vw;
	//padding: 05px;
	border: 0.45vw black solid;
	width: 45vw;
	height:25vw;
}
.card1 {
	width: 44.5vw	!important;
	margin-left: 3.5vw !important;
	float: left;
	font-size:1.05vw !important;
	text-align:justify;
}
.card1 h2{
	font-size: 2.5vw;
}
.card2 {
	width: 43vw	!important;
	margin-left: 4vw !important;
	float: left;
	font-size:1.05vw;
	text-align: justify;
}
.card2 h2{
	font-size: 2.5vw;
}
.card1 p {
    display: block;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

.clearfix{
    clear:both
}

nav ul a {
    font-size: 1.5vw !important;
    color:blue !important;
}
@media only screen and (max-width: 800px) {
    #btn {
        display: none;
    }
}
